In [1]:
from pathlib import Path
import pandas as pd

In [2]:
item_list_2016_csv = Path("./mndot_bid_etl/data/csv/item_list_2016.csv").resolve()
item_list_2018_csv = Path("./mndot_bid_etl/data/csv/item_list_2018.csv").resolve()
item_list_2020_csv = Path("./mndot_bid_etl/data/csv/item_list_2020.csv").resolve()

In [5]:
read_csv_2016_kwargs = {
    "dtype": "str",
    "quotechar": "'",
    "header": "infer",
    # "skiprows": 3713,
    # "nrows": 11,
}

item_list_2016 = pd.read_csv(item_list_2016_csv, **read_csv_2016_kwargs)
item_list_2016.head(11)

       Item Number        Short Description  ... Spec Year Unnamed: 6
0   2011.601/00003   CONSTRUCTION SURVEYING  ...        16        NaN
1   2011.601/00010     VIBRATION MONITORING  ...        16        NaN
2   2011.601/00015         SCOUR MONITORING  ...        16        NaN
3   2011.601/00020     REVISED BRIDGE PLANS  ...        16        NaN
4   2011.601/00040                   DESIGN  ...        16        NaN
5   2011.601/00050       DESIGN & CONSTRUCT  ...        16        NaN
6   2011.601/01000                 AS BUILT  ...        16        NaN
7   2012.602/00010  TRAFFIC CONTROL SPECIAL  ...        16        NaN
8   2012.602/00011   TRAFFIC CONTROL TYPE 1  ...        16        NaN
9   2012.602/00012   TRAFFIC CONTROL TYPE 2  ...        16        NaN
10  2012.602/00013   TRAFFIC CONTROL TYPE 3  ...        16        NaN

[11 rows x 7 columns]

In [8]:
pipe_aprons_2016 = item_list_2016.iloc[3712:3723]
pipe_aprons_2016.head(20)

         Item Number Short Description  ... Spec Year Unnamed: 6
3712  2501.602/00412    12" PIPE APRON  ...        16        NaN
3713  2501.602/00415    15" PIPE APRON  ...        16        NaN
3714  2501.602/00418    18" PIPE APRON  ...        16        NaN
3715  2501.602/00421    21" PIPE APRON  ...        16        NaN
3716  2501.602/00424    24" PIPE APRON  ...        16        NaN
3717  2501.602/00427    27" PIPE APRON  ...        16        NaN
3718  2501.602/00430    30" PIPE APRON  ...        16        NaN
3719  2501.602/00436    36" PIPE APRON  ...        16        NaN
3720  2501.602/00442    42" PIPE APRON  ...        16        NaN
3721  2501.602/00448    48" PIPE APRON  ...        16        NaN
3722  2501.602/00472    72" PIPE APRON  ...        16        NaN

[11 rows x 7 columns]

In [9]:
from mndot_bid_etl.transform.item_list import transform_item_df

In [10]:
transformed_pipe_aprons_2016 = transform_item_df(pipe_aprons_2016)
transformed_pipe_aprons_2016.head(20)

                  id     description  ... unit_description spec_year
3712  2501.602/00412  12" PIPE APRON  ...             EACH      2016
3713  2501.602/00415  15" PIPE APRON  ...             EACH      2016
3714  2501.602/00418  18" PIPE APRON  ...             EACH      2016
3715  2501.602/00421  21" PIPE APRON  ...             EACH      2016
3716  2501.602/00424  24" PIPE APRON  ...             EACH      2016
3717  2501.602/00427  27" PIPE APRON  ...             EACH      2016
3718  2501.602/00430  30" PIPE APRON  ...             EACH      2016
3719  2501.602/00436  36" PIPE APRON  ...             EACH      2016
3720  2501.602/00442  42" PIPE APRON  ...             EACH      2016
3721  2501.602/00448  48" PIPE APRON  ...             EACH      2016
3722  2501.602/00472  72" PIPE APRON  ...             EACH      2016

[11 rows x 6 columns]

In [11]:
transformed_pipe_aprons_2016.at[3712, "long_description"]

'12" PIPE APRON'

In [12]:
def generate_compound_ids(df: pd.DataFrame) -> pd.Series:
    return df["id"] + "_" + df["long_description"]

In [13]:
compound_ids_2016 = generate_compound_ids(transformed_pipe_aprons_2016)
compound_ids_2016

3712    2501.602/00412_12" PIPE APRON
3713    2501.602/00415_15" PIPE APRON
3714    2501.602/00418_18" PIPE APRON
3715    2501.602/00421_21" PIPE APRON
3716    2501.602/00424_24" PIPE APRON
3717    2501.602/00427_27" PIPE APRON
3718    2501.602/00430_30" PIPE APRON
3719    2501.602/00436_36" PIPE APRON
3720    2501.602/00442_42" PIPE APRON
3721    2501.602/00448_48" PIPE APRON
3722    2501.602/00472_72" PIPE APRON
dtype: object

In [15]:
compound_ids_2016[3712]

'2501.602/00412_12" PIPE APRON'

In [16]:
df_2016 = pd.DataFrame(index=compound_ids_2016).assign(is_in_2016=True)
df_2016.head()

                               is_in_2016
2501.602/00412_12" PIPE APRON        True
2501.602/00415_15" PIPE APRON        True
2501.602/00418_18" PIPE APRON        True
2501.602/00421_21" PIPE APRON        True
2501.602/00424_24" PIPE APRON        True

In [18]:
with open("./df_2016_dump.csv", "w") as f:
    df_2016.to_csv(f, quotechar="'")